<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 h-100vh">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-6 mb-3">
                  <h5 class="card-title text-uppercase text-muted mb-0">Current Number</h5>
                  <span class="h2 font-weight-bold mb-0">{{currentNumber}}</span>
                </div>
                <!-- <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div> -->

                <div class="col-6 mb-3">
                  <h5 class="card-title text-uppercase text-muted mb-0">Your Number</h5>
                  <span class="h2 font-weight-bold mb-0">{{myNumber}}</span>
                </div>
                <div class="col-6 mb-3">
                  <h5 class="card-title text-uppercase text-muted mb-0">Waiting Time</h5>
                  <span class="h2 font-weight-bold mb-0">{{waitingTime}} <span class="text-sm">minutes</span> </span>
                </div>
                <div class="col-6 mb-3">
                  <h5 class="card-title text-uppercase text-muted mb-0">Department</h5>
                  <span class="h2 font-weight-bold mb-0">{{section}}</span>
                </div>
              </div>
    
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>
