<div class="header min bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div *ngIf="!isAdmin" class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div *ngFor="let category of category; index as i" class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-6">
                  <h5 class="card-title text-uppercase font-weight-bold  text-muted mb-0">{{category}}</h5>
                  <!-- <span class="h2 font-weight-bold mb-0">{{i}}e</span> -->
                </div>
                <div class="col-6">
                  <div class="d-flex">
                    <button (click)="generateNumber(i)" class="btn">Get Number</button>
                    <button [routerLink]="['/number-details',i]" class="btn">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="isAdmin" class="container-fluid">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Patient Information</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Patient Name</th>
                  <th scope="col">PatientId</th>
                  <th scope="col">Patient Number</th>

                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let userDetails of userDetails">
                  <th scope="row">
                    <div class="media align-items-center">
                      <!-- <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                    </a> -->
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{userDetails.name}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{userDetails.patientId}}
                  </td>
                  <td>
                    {{userDetails.waitingNumber}}

                  </td>

                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" (click)="deactivate(userDetails.id)">Deactivate Number</a>
                        <!-- <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a> -->
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>