
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Roboto, sans-serif;
font-weight: 100;
font-size: 10px;
color: #fff;
background-color: #0066CC;
padding: 10px 19px;
// border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
// color: #0066cc;
// border: solid 2px #0066cc;
}

.min{
    min-height: 100vh;
}
.table-responsive{
    min-height: 180px;
}